/*start*/
/*start*/
/*start*/
/*start*/

html {
  font-size: 62.5%;
  font-size: 1.5rem;
}

/*body bg*/
/*body bg*/
/*body bg*/
/*body bg*/

.bg {
  background-image: url(https://i.imgur.com/Q0NA1zV.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 30rem;
  min-width: 20rem;
  margin: 0%;

}
.bgtext {
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  position: relative;
  margin-top: 10%;
}

/*main page heading*/
/*main page heading*/
/*main page heading*/
/*main page heading*/
/*main page heading*/

.center {
  text-align: center;
  text-shadow: 10pt 10pt 10pt rgb(190, 217, 240);
  color: rgb(255, 255, 255);
  text-decoration: wavy;
}



/*Educational Qualifications*/
/*Educational Qualifications*/
/*Educational Qualifications*/
/*Educational Qualifications*/

/*Educational Qualifications*/
.EQ {
  text-align: center;
  text-shadow: 10px 10px 10px rgb(2, 162, 255);
  color: rgb(255, 255, 255);
}
/*result*/
.EQUL {
  columns: auto;
  color: rgb(0, 255, 255);
}
/*background*/
.wbody {
  background-image: url(img/dog-647528_1920.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0%;
  font-size: 20px;
}
.wlayer {
  background: rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 100%;
  position: relative;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem 1rem;
}
/*future*/
.whead {
  color: azure;
  text-shadow: 10px 10px 10px rgb(2, 162, 255);
  text-align: center;
}
.wtwo {
  margin-left: 1rem;
  color: rgb(111, 0, 255);
}

.wthree {
  color: rgb(0, 255, 255);
  font-size: 1rem;
}

.wfour {
  color: rgb(255, 255, 255);
  text-shadow: 10px 10px 10px rgb(2, 162, 255);
  text-align: center;
  text-decoration-color: whitesmoke;
}

.wfive {
  margin-left: 1rem;
  color: rgb(0, 255, 255);
}

/*picture*/
/*picture*/
/*picture*/
/*picture*/
/*picture*/
/*picture*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create 3 equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin: auto;
}

.column img {
  margin-top: 0.8rem;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a 1 column-layout instead of 3 columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the 1 columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.body {
  background: linear-gradient(45deg, red, blue) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  width: auto;
  height: 100%;
}

/*contact form*/
/*contact form*/
/*contact form*/
/*contact form*/
/*contact form*/
/*contact form*/

/* Form */

/*Contact sectiom*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap');
.from-css {
  background-image: url(/undraw_contact_us_15o2.svg);
  background-color: rgba(1, 44, 38, 0.678);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px; 
  -o-border-radius: 5px;
  margin-top:  20px;
} 


/*submit*/
/*submit*/
/*submit*/
/*submit*/
.heading {
  text-align: center;
  color: rgb(247, 4, 4);
  margin: 50px;
}
